<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.monostockportfolio" android:versionCode="3" android:versionName="1.1.0" android:installLocation="preferExternal">
  <application android:label="Stock Portfolio" android:icon="@drawable/icon">
    <!-- Register the Java splash screen activity and set it to be full screen with no title bar & translucent -->
    <activity android:label="Stock Portfolio" android:name="com.monostockportfolio.SplashActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
      <!-- Set this Java activity as the main activity to be launched -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
  <uses-sdk android:minSdkVersion="7" />
  <uses-permission android:name="android.permission.INTERNET" />
</manifest>